{% extends 'login_input.html' %}

{% block body_block %}



<form action="" method="post" enctype="multipart/form-data">
    {% if ValidationError %}
    Please enter a valid academic email!
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    {% else %}
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    {% endif %}
</form>
{% endblock %}


<!-- see here for custom styling http://stackoverflow.com/questions/5827590/css-styling-in-django-forms -->
<!-- embedding bokeh plots http://stackoverflow.com/a/29524050/2320823 -->


