# heroku
gunicorn
whitenoise

flask
Flask-SQLAlchemy

biopython

# new rq version changes API, use this until Flask-RQ2 updates
# accordingly
rq==0.10.0
Flask-RQ2
Flask-Mail
Flask-table
flask-wtf
Flask-RESTful

pymysql


pytest
pytest-cov
codecov

numpy
pandas
bokeh

