django
biopython

# heroku
gunicorn
whitenoise

# database
mysqlclient
dj-database-url

#nice forms
django-crispy-forms

# running calculations
rq
django-rq

# user authentication
pyjwkest
bcrypt
django-allauth

# email sending
sendgrid-django

# data visualization
numpy
bokeh

#Academic verification
Flask==0.12.3
PyTrie==0.2
requests
