django
biopython

#nice forms
django-crispy-forms

# running calculations
rq
django-rq

# user authentication
pyjwkest
bcrypt
django-allauth


# data visualization
numpy
bokeh

#Academic verification
Flask==0.10.1
PyTrie==0.2
requests