{% extends 'base.html' %}

{% block body_block %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="{% url 'webform' %}">Predict Sequences</a></li>
  <li role="presentation" class="disabled"><a href="#">Predict Families</a></li>
  <li role="presentation" class="disabled"><a href="#">Predict Variants</a></li>
  <li role="presentation"><a href="{% url 'recent_results' %}">View Recent Results</a></li>
</ul>

<br>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">

{% block webform_block %}{% endblock %}

    </div>
  </div>
</div>
{% endblock %}
