
{% block navbar_block %}

  <nav class="navbar navbar-default">
    <div class="btn-group btn-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-primary" href="#" role="button">Predict Sequences</a>
      <button type="button" class="btn btn-default" href="#" role="button">Predict Families</a>
      <button type="button" class="btn btn-default" href="#" role="button">Predict Variants</a>
      <button type="button" class="btn btn-default" href="#" role="button">View Recent Results</a>
    </div>
  </nav>

{% endblock %}
