{% extends 'webform/base.html' %}

{% block webform_block %}


<table id="myTable" class="myTable">
<thead>

<tr>
  <th>Status</th>
  <th>Batch Name</th>
  <!-- <th>User</th> -->
  <th>Host</th>
  <!-- <th>Sequence ID</th>
  <th>IMProve Score</th>
  <th>Sequence</th> -->
  <th>Start Time</th>
  <!-- <th>Time Taken</th> -->
</tr>
</thead>

<tbody>
  {% for b in batches %}
    <tr>
      <td> Done </td>
      <td> {{ b.job_name }} </td>
      <td> {{ mask_ip(b.submission_ip) }} </td>
      <td> {{ b.date_entered }} </td>
    </tr>
  {% endfor %}
</tbody>

</table>

{% endblock %}


{% block footer_block %}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %}
