{% load staticfiles %}

{% block footer_block %}

<link rel="stylesheet" href="{% static "sticky-footer.css" %}">

<!-- Fixed footer bar -->
<footer class="footer">
  <div class="container">
    <p class="text-muted"> © Shyam Saladi, 2017</p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

<!-- client side form validation from ParsleyJS -->
<script src="http://parsleyjs.org/dist/parsley.min.js" crossorigin="anonymous"></script>

<!-- include tether -->
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

<!-- custom JQuery code -->
<!-- <script src="js/misc_utils.js"></script> -->

{% endblock %}
