{% extends 'base/base.html' %}

{% block body_block %}


<h1>IMProve: A Data-Driven Approach to Predicting Integral Membrane Protein Expression</h1>


<div class="jumbotron">
  <div class="row custom-white-panel">
    <div class="col-centered">

<p align="justify">
​​Integral membrane proteins (IMPs) are of both fundamental scientific and medical importance, because they govern the flow of nutrients and information across cell membranes and because they comprise the largest class of therapeutic drug targets. However, the structural and biophysical characterization of IMPs lags far behind that of other protein classes, due to the inability to reliably produce significant quantities of IMPs for experimental studies. We are developing methods to predict and improve IMP expression to address this problem by removing fundamental gaps in knowledge and technology via a combination of computational and experimental methods.
</p>

    </div>
  </div>
</div>

<h2 id="publications">Publications</h2>
{% include "publications.html" %}

<h2 id="team">Team</h2>
{% include "team.html" %}

<h2 id="contact">Contact us!</h2>
{% include "contact.html" %}


{% endblock %}
